@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

/*--------navbar---------*/
.nav {
  color: rgb(0, 33, 99);
}
.nav .navbar .logo {
  text-decoration: none;
  font-size: 2.5em;
  color: rgb(0, 33, 99);
  transition: 0.3s;
}
.nav .navbar .logo:hover {
  font-size: 2.7em;
}
.nav .navbar .nav-links {
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav .navbar .nav-links .link {
  border-radius: 0.9em;
  text-decoration: none;
  padding: 0.9em;
  color: rgb(0, 33, 99);
  transition: 0.3s;
  margin: 0.2em;
}
.nav .navbar .nav-links .link:hover {
  font-size: 1.1em;
  background: rgb(0, 33, 99);
  color: white;
}
.nav .navbar .nav-links .help {
  display: flex;
  align-items: center;
  padding: 0.9em;
  border: 0;
  border-radius: 0.9em;
  transition: 0.3s;
  margin-left: 0.2em;
}
.nav .navbar .nav-links .help:hover {
  background: rgb(0, 33, 99);
  font-size: 1em;
  color: white;
}

.content {
  text-decoration: none;
  margin: 0.9em 0 0 0;
  border: 0.2 solid rgba(0, 33, 99, 0.488);
  font-family: "Londrina Outline", cursive;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em;
}

@media screen and (min-width: 450px) {
  .content {
    -webkit-text-decoration: overline rgba(0, 33, 99, 0.488);
            text-decoration: overline rgba(0, 33, 99, 0.488);
    font-size: 3.5em;
    margin: 1.5em 0 0.9em 0;
  }
  .logo {
    float: left;
  }
  .nav-links {
    display: flex;
    justify-content: end;
  }
}
/*--------title-------*/
.up {
  text-align: center;
  background-image: url(./media/wrapper.jpg);
  background-size: cover;
  width: 100%;
  padding: 0.2em;
  margin: 0;
  box-shadow: 10px 5px 10px rgb(0, 0, 0);
  color: white;
  font-size: 1.5em;
}
.up .title {
  text-decoration: overline;
  margin-bottom: 2.5em;
}

/*---------Main-Home-------*/
main {
  margin-bottom: 10%;
}
main .percent {
  color: rgb(0, 33, 99);
  text-align: center;
}
main .percent .title-main {
  margin-top: 1.5em;
  color: red;
  text-decoration: overline;
}
main .percent .group-percent p {
  border-top: 0.2em solid rgba(255, 0, 0, 0.411);
  padding: 0.9em;
}
main .percent .group-percent .prc {
  color: red;
  font-size: 2.5em;
}

@media screen and (min-width: 650px) {
  .group-percent {
    display: flex;
  }
  .group-percent p {
    text-align: start;
    margin-bottom: 0;
  }
  .group-percent .border {
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
  }
}
/*---------content-------------*/
.grid {
  color: rgb(0, 33, 99);
  border-top: 0.9em solid;
  border-radius: 0.9em;
}
.grid h2 {
  text-decoration: overline;
  text-align: center;
  font-family: "Londrina Outline", cursive;
  font-size: 2.5em;
}

.pic {
  border-radius: 10px;
  width: 100%;
  box-shadow: 10px 5px 10px rgb(0, 0, 0);
}

@media screen and (min-width: 760px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". commitment" ". commitment" ". commitment";
    gap: 2em;
  }
  .commitment {
    box-shadow: 10px 5px 10px 10px rgb(0, 0, 0);
    padding-left: 2em;
    grid-area: commitment;
  }
  .commitment .director {
    margin-top: 6.5em;
  }
  .commitment .engage {
    margin-top: 6.5em;
  }
  .climate {
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
  }
  .pic {
    margin-left: 25%;
    width: 50%;
  }
}
/*--------main-event-------*/
.futur {
  height: 100vh;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

.text {
  text-align: center;
}

.bold {
  font-size: 1.5em;
  font-weight: bold;
}

/*---------card--------*/
.where {
  float: center;
}

/*------------footer----------------*/
.feet {
  color: white;
  background: black;
  text-align: center;
}
.feet p {
  background: rgb(75, 75, 75);
}
.feet a {
  color: rgb(0, 176, 0);
  transition: 0.2s;
}
.feet a:hover {
  font-size: 1.5em;
}/*# sourceMappingURL=style.css.map */