@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

$sm : 0.2em;
$md : 0.9em;
$lg : 1.5em;

$shaddow-box : 10px 5px 10px rgb(0, 0, 0);
$border-red: $sm solid rgba(255, 0, 0, 0.411);

$font-title:  'Londrina Outline', cursive;

$marine:  rgb(0, 33, 99);
$marine-light: rgb(0, 159, 174);
$marine-opacity:  rgba(0, 33, 99, 0.488);


/*--------navbar---------*/

.nav {
    color: $marine;
    .navbar {
    
        .logo {
            text-decoration: none;
            font-size: $lg + 1em;
            color: $marine; 
            transition: 0.3s;
            &:hover {
                font-size: $lg + 1.2em;
            }
        }
        .nav-links {
            align-items: center;
            list-style: none;
            padding: 0;
            .link {
                border-radius: $md;
                text-decoration: none;
                padding: $md;
                color: $marine;
                transition: 0.3s;
                margin: $sm;
                &:hover {
                    font-size: $md + 0.2em;
                    background: $marine;
                    color: white;
                }
            }
            .help {
                display: flex;
                align-items: center;
                padding: $md;
                border: 0;
                border-radius: $md;
                transition: 0.3s;
                margin-left: $sm;
                &:hover {
                    background: $marine;
                    font-size: $md + 0.1em;
                    color: white;
                }
            }
        }
    }
}
.content {
    text-decoration: none;
    margin: $md 0 0 0;
    border: 0.2 solid $marine-opacity;
    font-family: $font-title;
    font-size: $lg + 1em;
    font-weight: bold;
    text-align: center;
    padding: $sm;
}

@media screen and (min-width: 450px) {
    .content {
        text-decoration: overline opacify($color: $marine-opacity, $amount: 0);
        font-size: $lg + 2em;
        margin: $lg 0 $md 0;
    } 
    .logo {
        float: left;
    }
    .nav-links {
        display: flex;
        justify-content: end;
    }
}

/*--------title-------*/

.up {
    text-align: center;
    background-image: url(./media/wrapper.jpg);
    background-size: cover;
    width: 100%;
    padding: $sm;
    margin: 0;
    box-shadow: $shaddow-box;
    color: white;
    font-size: $lg;
    .title {
        text-decoration:overline;
        margin-bottom: $lg + 1em;
    }
}
/*---------Main-Home-------*/
main {
    margin-bottom: 10%;
    .percent {
        color: $marine;
        text-align: center;
        .title-main {
            margin-top: $lg;
            color: red;
            text-decoration: overline;
        }
        .group-percent {
            p {
                border-top: $border-red;
                padding: $md;
            }
            .prc{
                color: red;
                font-size: $lg + 1em;
            }
        }
    }
}

@media screen and (min-width: 650px) {
   .group-percent {
        display: flex; 
       p {
        text-align: start;
        margin-bottom: 0;
       }
       .border{
        box-shadow: $shaddow-box;
       }
    }
}

/*---------content-------------*/

.grid {
    color: $marine;   
    border-top: $md solid;
    border-radius: $md;
    h2 {
        text-decoration: overline;
        text-align: center;
        font-family: $font-title;
        font-size: $lg + 1em;
    }
}

.pic {
    border-radius: 10px;
    width: 100%;
    box-shadow: 10px 5px 10px rgb(0, 0, 0);
}

@media screen and (min-width: 760px) {
     .grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        ". commitment"
        ". commitment"
        ". commitment";
        gap: 2em;
    } 
        .commitment {
        box-shadow: 10px 5px 10px 10px rgb(0, 0, 0);
        padding-left: 2em;
        grid-area: commitment;
        .director {
            margin-top: $lg + 5em;
        }
        .engage {
            margin-top: $lg + 5em;
        }
    }
    .climate {
        box-shadow: $shaddow-box;
    }
    .pic {
        margin-left: 25%;
        width: 50%;
    }
}

/*--------main-event-------*/


.futur {
    height: 100vh;
}
h2 {
    text-align: center;
    text-decoration: underline;
}

.text {
    text-align: center;
    
}
.bold {
    font-size: 1.5em;
    font-weight: bold;
}



/*---------card--------*/
.where {
    float: center;
}



































































/*------------footer----------------*/

.feet {
    color: white;
    background: black;
    text-align: center;
    p {
        background:rgb(75, 75, 75);
    }
    a {
        color: rgb(0, 176, 0);
        transition: 0.2s;
        &:hover {
            font-size: $lg;
        }
    }
}